@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@import "tailwindcss";

@theme {
    --color-pink: #FFDBFA;
    --color-pink-1: #FA91EC;
    --color-pink-2: #FFCFFE;

    --color-pr-purple: #C504AC;
}

.font-daruma {
    font-family: 'Darumadrop One', 'Arial';
    font-weight: 400;
    font-style: normal;
}
