---
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import Header from "../components/Header.astro";
import Cards from '../components/Cards';
import Footer from "../components/Footer.astro";
---
<BaseLayout title="Inicio">
    <Header />
    <section id="brand" class="w-full h-100 flex justify-left items-center font-daruma text-3xl text-pink-2">
        <div class="flex w-full h-full justify-center items-center bg-pink-1/65 backdrop-blur-xs px-10">
            <p class="text-4xl">Tu meowny, ¡asegurado!</p>
        </div>
    </section>

    <Cards client:only  />
</BaseLayout>

<style >
    #brand {
        background-image: url('../assets/meony_background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: center;
        background-size: cover;
    }

    .card {
        padding: 10px;
        background-color: var(--color-pink-1);
        border-radius: 10px;
        text-align: center;
    }

    .card:hover {
        scale: 101%;
        transition: all 100ms ease-in-out;
    }
</style>