---
import CatHead from '../assets/cat_head.png';
---
<header class="w-full h-30 items-center px-10 bg-pink-1 backdrop-blur-sm flex font-daruma text-pr-purple shadow-sm">
    <div class="flex items-center justify-even">
        <a href="/" class="tracking-wider text-4xl text-pink-2">MEOWNY</a>
        <div class="mt-3 ml-1 bg-pink-2 rounded-full p-1">
            <img src={CatHead.src} width="24">
        </div>
    </div>
    <nav class="mr-0 ml-auto">
        <a href="/dashboard" class="bg-pink-2 p-2 text-pink-1 cursor-pointer rounded-md text-xl">Panel de Control</a>
    </nav>
</header>