---
---
<section class="flex flex-col bg-[var(--pr-pink)] mt-10">
    <header class="mt-10">
        <p class="font-daruma text-[var(--pr-purple)] text-3xl text-center">HISTORIAL</p>
    </header>
    <div class="p-10 flex flex-col gap-y-2 font-daruma text-2xl">
        <div class="p-4 rounded-lg bg-[var(--pr-pink)] flex justify-between">
            <span class="text-[var(--pr-purple)]">Mayo 3, 2025</span>
            <span class="text-[#FF55CC]">+$1,500 MXN</span>
        </div>
        <div class="p-4 rounded-lg bg-[var(--pr-pink)] flex justify-between">
            <span class="text-[var(--pr-purple)]">Mayo 10, 2025</span>
            <span class="text-[#FF55CC]">+$1,800 MXN</span>
        </div>
        <div class="p-4 rounded-lg bg-[var(--pr-pink)] flex justify-between">
            <span class="text-[var(--pr-purple)]">Mayo 17, 2025</span>
            <span class="text-[#FF55CC]">+$1,700 MXN</span>
        </div>
        <div class="p-4 rounded-lg bg-[var(--pr-pink)] flex justify-between">
            <span class="text-[var(--pr-purple)]">Mayo 24, 2025</span>
            <span class="text-[#FF55CC]">+$1,500 MXN</span>
        </div>
        <div class="p-4 rounded-lg bg-[var(--pr-pink)] flex justify-between">
            <span class="text-[var(--pr-purple)]">Mayo 31, 2025</span>
            <span class="text-[#FF55CC]">+$2,100 MXN</span>
        </div>
    </div>
</section>
