---
const { start, goal, current } = Astro.props;

---
<div class="mt-10 bg-[var(--pr-pink)] p-4">
    <header class="h-20">
        <p class="font-daruma text-[var(--pr-purple)] text-3xl text-center">TU PROGRESO</p>
    </header>
    <section class="flex flex-col justify-center items-center w-full md:w-3/4 m-auto">
        <div class="w-full">
            <span class="flex justify-center text-center items-center z-10 mb-5 text-lg text-[var(--pr-purple)] font-daruma">$ {current} MXN</span>
            <input type="range" name="progress" id="progress">
            <span class="flex justify-center text-center items-center z-10 mb-5" id="cat-logo"></span>
        </div>
        <footer class="grid col-2 row-1 w-full mt-2 font-daruma text-[var(--pr-purple)]">
            <span class="col-1 text-left">$ {start} MXN</span>
            <span class="col-2 text-right">$ {goal} MXN</span>
        </footer>
    </section>
</div>

<style>

#cat-logo {
    background-image: url('../assets/cat_head.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

#progress::before {
    content: '';
    position: absolute;
    height: 50px;
    border-radius: 100px;
    background-color: var(--pr-purple);
    width: var(--progress, 50%);
    border: 6px solid var(--pink-1);
    z-index: -1;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 5em;
    width: 5em;
    border-radius: 100%;
    border: 3px solid var(--pink-1);
    cursor: pointer;
    background-color: var(--pr-purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../assets/cat_head.png');
    background-size: fit;
    background-position: center;
    background-repeat: no-repeat;
}

#progress::-webkit-slider-runnable-track {
    border: 6px solid var(--pink-1);
    height: 50px;
    border-radius: 100px;
    margin: auto 0;
}

@media (max-width: 768px) {
    #progress::-webkit-slider-thumb {
        height: 4em;
        width: 4em;
    }

    #progress::-webkit-slider-runnable-track {
        height: 40px;
    }

    #progress::before {
        height: 40px;
    }
}

@media (max-width: 480px) {
    #progress::-webkit-slider-thumb {
        height: 4em;
        width: 4em;
        border-width: 4px;
    }

    #progress::-webkit-slider-runnable-track {
        height: 30px;
        border-width: 8px;
    }

    #progress::before {
        height: 30px;
        border-width: 8px;
    }
}

</style>